.fixed{
    position: sticky;
}
body{
    font-family: Helvetica, arial, sans-serif;
}
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.just-content-end{
    justify-content: end;
}

.just-content-center{
    justify-content: center;
}


/* color */

.white{
    color: white;
}

.black{
    background-color: black;
}
.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

.color-grey{
    color: grey;
}
.blue{
    color: rgb(60, 60, 245);
}

.pd{
    padding: 0.5em;
}

/* height */

.height{
    height: 300px;
}
.height-100{
    height: 100vh;
}
.height-logo{
    width: 100%;
    height: 40px;
}

.width-30{
    max-width: 30%;
}
.width-50{
    max-width: 100%;
}



/* font */

.fs-7{
    font-size: 3rem;
}

/* border */

.rondend-6{
    border-radius: 50px;
}

.radius{
    border-radius: 10px;
}

.radius-blue{
    border-radius: 10px;
    border-style: solid;
    border-color: blue;
}




.border{
    border: 2px solid black;
}

/* jambo */

.jambo {
    background-image: url('../img/jumbo-bg.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.jambo-logo{
    max-width: 100%;
    height: 50px; 
    background-repeat: no-repeat;
    object-fit: cover;
 
}


.crop {
    height: auto;
    width: 20%;
    overflow: hidden;
   }
   .crop img {
    height: auto;
    width: 100%;
    min-width: 20%;
   }