.fixed{
    position: fixed;
   
}

body{
    font-family: Helvetica, arial, sans-serif;
}
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.just-content-end{
    justify-content: end;
}

.just-content-center{
    justify-content: center;
}

.align-self{
    align-self: center;
}


/* color */

.white{
    color: white;
}

.black{
    background-color: black;
}
.color-black{
    color: black;
}
.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

.grey-light{
    background-color: #BEBCBB;
}

.grey-dark{
    background-color: #1F1F1F;
}

.color-grey{
    color: grey;
}

.btn-color{
    background-color: #D9DADC;
}
.blue{
    color: rgb(60, 60, 245);
}

.pd{
    padding: 0.5em;
}

/* height */

.height{
    height: 300px;
}
.height-100{
    height: 100vh;
}
.height-logo{
    width: 100%;
    height: 40px;
}

.width-30{
    max-width: 30%;
}
.width-50{
    max-width: 50%;
}

.width-10{
    max-width: 10%;
}

.width-100{
    width: 100%;
}



/* font */

.fs-7{
    font-size: 2rem;
}

/* border */

.rondend-6{
    border-radius: 50px;
}

.radius{
    border-radius: 10px;
}

.radius-blue{
    border-radius: 10px;
    border-style: solid;
    border-color: blue;
}
.border{
    border: 2px solid black;
}

/* jambo */

.jambo {
    background-image: url('../img/jumbo-bg.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.cursor{
    cursor: pointer;
}

.opacity{
    opacity: 0.5;
    transition: 1s;
}

.opacity.col-4:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    border-bottom: 1px solid blue;
}


.jambo-2 {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

/* media-query-accessori */

@media screen and (max-width:992px ) {
    .col-4 p{
        display: none;
    }
}

/* media-query-img-soulstorm */


@media screen and (max-width:768px) {

    .soul-storm img{
        display: none;
    }
    
}


/* nuovi-sconti */

@media screen and (max-width:992px ) {
    .sconti-nuovi{
        max-width: 80%;
    }
}




.verticalpan img {
    margin-top: 0px;
    transition: margin 0.5s ease;
}
.verticalpan img:hover {
    margin-top: -20px;
} 

a{
    color: white;
    text-decoration: none;
}